body {
  padding: 0;
}


html {
   background: url('/images/bg-site.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
body {
  background-color: transparent;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  overflow: auto;
  align-items: center; 
}

.student-img {
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    /**position: fixed;**/
    background-position: right bottom;
    height: 25em!important;
    background-position: center;
}
.student-img2 {
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    background-image: url(/images/g14.png);
    /**position: fixed;**/
    background-position: left bottom;
    height: 25em!important;
    margin-bottom: 2em;
    background-position: center;
    display: inline-block;
    background-size: auto 100%;
}

.log-in-up-container {
  text-align: right;
}
@media (min-width: 992px) {

}
@media (max-width: 991px) {
  .log-in-up-container, .logo-container {
    text-align: center;
    padding-bottom: 1em;
  }
  .log-in-up-container {
    padding-bottom: 0.4em;
  }
  header {
    display: inline-block!important;
    margin-bottom: 1em;
  }
}
.login-button, .sign-up-button {
    border-style: solid;
    padding: 0.4em 1em 0.4em 1em;
    color: white;
    border-radius: 5px;
    border-width: 2px;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none!important;
    display: inline-block;
}
.login-button {
    border-color: white;
    color: white!important;
}
.sign-up-button {
    border-color: #7aa93c;
    background-color: #7aa93c;
    opacity: 1;
    color: white!important;
    text-decoration: none!important;
}
.main-title {
  color: white;
  text-align: center;
  padding-bottom: 1em;
}

* {
  font-family: 'Open Sans';
}
.title {
  font-family: 'Asap';
}
hr {
  border-color: rgba(200,200,200,0.8);
}
.site-header {
  padding-top:2em;display:flex
}
.site-header .title {
  font-size:40px;display:inline-block;color:white;font-weight:bolder
}
.header-options {
  display:inline-block
}
.main-title-container {
  text-align:center; display:block
}
.main-title {
  font-size:18px;display:inline-block;padding-bottom:2em
}
.main-sign-up {
  text-align:center
}
.main-sign-up .sign-up-button {
  font-size:22px;
  border-color: white;
  background-color: transparent;
}
.features-box {
  margin-bottom: 3em;
}
.feature-box {
  color: white;
  padding-bottom: 1.5em;
}
.feature-box h3 {
  padding-bottom: 0.5em;
}
.feature-icon {
  color: white;
  padding-right: 0.5em;
  font-size: 1.5em;
}
