<header class="site-header container col-md-8 col-md-offset-2 col-xs-12">
	<div class="header-logo left col-md-6 col-xs-12 logo-container">
		<span class="title" style="">ACADEMUS</span>
	</div>
	<div class="header-options right clearfix col-md-6 col-xs-12 log-in-up-container">
		<a style="" href="#contact-us" class="sign-up-button">Registro</a>
	</div>
</header>

<hr class="col-md-8 col-md-offset-2">
<div class="col-md-offset-2 col-md-8 col-xs-12">
<div class="main-title-container col-md-12">
	<span class="main-title title" style="">Encuentra profesores en cualquier area del conocimiento, en un solo lugar.</span>
	</div>
	<div class="student-img2 col-md-12 col-xs-12">
	</div>
	
	<div class="main-sign-up" class="col-md-12">
		<a href="#contact-us" class="sign-up-button" style="">Registrate !!!</a>
	</div>
</div>

