<header class="site-header container col-md-8 col-md-offset-2 col-xs-12">
	<div class="header-logo left col-md-6 col-xs-12 logo-container">
		<span class="title" style="">ACADEMUS</span>
	</div>
	<div class="header-options right clearfix col-md-6 col-xs-12 log-in-up-container">
		<a style="" href="#contact-us" class="sign-up-button">Registro</a>
	</div>
</header>

<hr class="col-md-8 col-md-offset-2">
<div class="col-md-offset-2 col-md-8 col-xs-12">
	<div class="col-md-12 col-xs-12 features-box">
		<div class="col-md-6 feature-box"><h3><i class="fa fa-search feature-icon"></i>Busca </h3>Localiza al profesor que mejor se adapta a tus necesidades.</div>
		<div class="col-md-6 feature-box"><h3><i class="fa fa-money feature-icon"></i>Presupuesto</h3>Encontra el profesor que ofrezca la tarifa más ajustada a tu presupuesto.</div>
		<div class="col-md-6 feature-box"><h3><i class="fa fa-check-square-o feature-icon"></i>Califica</h3>Puedes calificar el desempeño de tu profesor, y ver lo que otros alumnos han opinado acerca de él.</div>
		<div class="col-md-6 feature-box"><h3><i class="fa fa-calendar feature-icon"></i>Flexibilidad</h3>Agenda tus clases en el horario que más te convenga, ya que encontrarás diferentes horarios que se adapten al tuyo.</div>


	</div>
	
	<div class="main-sign-up" class="col-md-12" style="margin-top:2em">
		<a href="#contact-us" class="sign-up-button" style="margin-left:1em">Comienza ahora!!!</a>
	</div>
</div>

