<header class="site-header container col-md-8 col-md-offset-2 col-xs-12">
	<div class="header-logo left col-md-6 col-xs-12 logo-container">
		<span class="title" style="">ACADEMUS</span>
	</div>
	<div class="header-options right clearfix col-md-6 col-xs-12 log-in-up-container">
		<a style="" href="#contact-us" class="sign-up-button">Registro</a>
	</div>
</header>

<hr class="col-md-8 col-md-offset-2">
<div class="col-md-offset-2 col-md-8 col-xs-12">
	<div class="col-md-12 col-xs-12 features-box">
		<div class="col-md-6 feature-box"><h3><i class="fa fa-usd feature-icon"></i>Gana Dinero</h3>Establece tu propia tarifa por horas.</div>
		<div class="col-md-6 feature-box"><h3><i class="fa fa-location-arrow feature-icon"></i>Ubicación</h3>Enseña desde la comodidad de tu casa o cualquier otro lugar.</div>
		<div class="col-md-6 feature-box"><h3><i class="fa fa-clock-o feature-icon"></i>Horarios</h3>Escoge los horarios en los que deseas enseñar.</div>
		<div class="col-md-6 feature-box"><h3><i class="fa fa-chain-broken feature-icon"></i>Flexibilidad</h3>Puedes enseñar tiempo completo o parcial, según tu disposición de tiempo.</div>


	</div>
	
	<div class="main-sign-up" class="col-md-12" style="margin-top:2em">
		<a href="#contact-us" class="sign-up-button" style="margin-left:1em">Comienza ahora!!!</a>
	</div>
</div>

